
.bar{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    background-color: var(--box);
    max-width: 342px;
    margin: auto;
    border-radius: 24px;
    justify-content: space-around;
}
.bar--image{
    width: 342px;
    height: 193px;
    grid-column: 1 / 4;
    border-radius: 24px;
}
.bar--stars{
    grid-column: 2/3;
    border-left: 2px solid var(--orange);
    padding-left: 15px;
}
.bar--category{
    opacity: 0.68;
}


/*
navbar styles only
*/

.navbar {
    background-color: var(--tabbar); 
    border-radius: 25px 25px 0 0;
    bottom: 0;
    position: fixed;
    min-width: 414px;
    position: center;
    height: 92px; 
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 83px;
    align-items: flex-end; 
}

.navbar ul li{
    list-style-type: none;
}

.navbar ul li a {
    height: 38px;
    display: block;
    margin-bottom: 15px;
}

.home{
    margin-bottom: 15px;
}


/*
headerbar styles only
*/


header ul li {
    list-style-type: none;
    display: block;
}

header ul li a {
    display: block;
    margin-top: 10px;
}
