.valgmuligheder{
    display: flex;
    justify-content: space-evenly;

}

.option--one{
    height: 90px;
    width: 110px;
    padding: 15px;
    background-color: var(--box);
    border-radius: 24px;
    margin-bottom: 30px;
    margin-top: 30px;


}

.option--two{
    height: 90px;
    width: 110px;
    padding: 20px;
    background-color: var(--box);
    border-radius: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
}



.input--elements{
    padding: 14px;
    background-color: var(--box);
    height: 360px;
    width: 380px;
    border-radius: 24px;
    padding-left: 38px;
    margin: auto;
}

.orange{
    border-bottom: 1px solid #FFB32A;
}

.grey{
    color: #A6ADC1;
}

.confirm--button{
    font-family: avenir-heavy;
    font-size: 32px;
    background-color: var(--yellow);
    margin: 75px 75px 75px 75px;
    margin-top: 75px;
    height: 91px;
    width: 348px;
    border-radius: 15px;
    border: none;
 
}

     
    
    
