    @font-face{
    font-family: New Athletic;
    src: url(/fonts/new_athletic_m54/New\ Athletic\ M54.ttf);
}

*{
    font-family: New Athletic;
    color: white;
}

body {
    background-color: #160126;
    margin: 0;
    padding: 0;
}
main{
    margin-bottom: 100px;
}
.promo{
    max-width: 100%;
}

.logo{
    display: block;
    grid-area: logo;
    max-width: 200px;
    margin-top: 37px;
    margin-right: 150px;
}

.text-first {
    grid-area: text-first;
}

.promotext-first{
    margin-left: 346px;
    margin-top: 70px;
    display: grid;
    grid-template-areas: 
    "text-first logo"
    "text-first logo"
    
    ;
}

.promotext-second{
    margin-left: 346px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.features{
    font-size: 50px;
    margin: 20px 0 10px 0;
    grid-column: 1/2;
}
.promotext-second p {
    grid-column: 1/2;
}

.homescreen{
    grid-column: 2/3;
    width: 300px;
}

.promotext-third{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-right: 346px;
}

.favourites-text{
    grid-column: 2/3;
}

.favourites{
    
}

.f-star{
    justify-self: end;
}

.favor-screen{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 300px;
    justify-self: end;
}

.rectangle {
    display: block;
    width: 138px;
}

.rectangle-first{
    display: block;
    margin: 150px auto 30px auto;
}

.rectangle-second{
    margin: 400px 0 auto 346px;
}

.rectangle-third{
    display: block;
    margin-top: 400px;
    margin-left: auto;
    margin-right: 346px;
}

h1.quote{
    font-size: 50px;
    text-align: center;
}

p{
    font-size: 20px;
}

h2{
    font-size: 40px;
}






/*Vores "Footer"*/
h1.end{
    font-size: 40px;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 100px;
}

.end-section{
    text-align: center;
}

.oblique-rectangle{
    height: 50px;
}