/* Variables */
:root {
    --tabbar: #171f29;
    --box: #202C39;
    --background: #283845;
    --headline: #F2D492;
    --orange: #ffb32a;
    --yellow: #ffcd40;
    --idle: #a6adc1;
    --search: #2f4c64;
}
@font-face{
    font-family: Avenir;
    src: url(/fonts/Metropolis/Metropolis-Regular.otf);
    font-family: Avenir-light;
    src: url(/fonts/Metropolis/Metropolis-Light.otf);
    font-family: Avenir-thin;
    src: url(/fonts/Metropolis/Metropolis-Thin.otf);
    font-family: Avenir-heavy;
    src: url(/fonts/Metropolis/Metropolis-SemiBold.otf);
    font-family: Avenir-medium;
    src: url(/fonts/Metropolis/Metropolis-Medium.otf);
    font-family: Avenir-black;
    src: url(/fonts/Metropolis/Metropolis-Black.otf);
}

/*
navbar styles only
*/

.navbar {
    background-color: var(--tabbar); 
    border-radius: 25px 25px 0 0;
    bottom: 0;
    position: fixed;
    min-width: 414px;
    position: center;
    height: 92px; 
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 83px;
    align-items: flex-end; 
}

.navbar ul li{
    list-style-type: none;
}

.navbar ul li a {
    height: 38px;
    display: block;
    margin-bottom: 15px;
}

.home{
    margin-bottom: 15px;
}


/*
headerbar styles only
*/


header ul li {
    list-style-type: none;
    display: block;
}

header ul li a {
    display: block;
    margin-top: 10px;
}

/* Base styles */ 
*{
    box-sizing: border-box;
}
.wrapper{
    max-width: 414px;
}
body{
    background-color: var(--background);
    margin: 0;
}
p{
    font-family: avenir;
    color: var(--orange);
}
h1{
    font-family: avenir;
}
h3{
    font-family: avenir;
}
h4{
    font-family: avenir;
}

